# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Spark
metastore_db/
derby.log
spark-warehouse/

# Jupyter Notebook
.ipynb_checkpoints

# Environment variables
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Logs
logs/
*.log

# Data
data/output/
*.parquet
*.csv
!data/source1/*.csv
!data/source2/*.csv

# MLflow
mlruns/
mlartifacts/

# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl

# OS
.DS_Store
Thumbs.db

# AWS
.aws/

# Testing
.pytest_cache/
.coverage
htmlcov/
.tox/
